.categories {
  font-family: $font-primary;
  background-color: #5ca1e1;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 0 10px;
  // box-shadow: $shadow-light;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);

  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  & > * {
    margin: 10px 20px;
  }

  &__name {
    color: rgb(255, 255, 255);
    font-weight: bold;
    outline: 10px black;
    transition: ease-in-out 100ms;

    
    
    &:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.233);
      text-decoration: underline;
      transform: scale(1.1);
      transition: ease-in-out 100ms;
      cursor: pointer;
    }
  }
}
